.animation {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  &__corpse {
    position: absolute;
    background-color: white;
    position: absolute;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    top: -100px;
    animation-name: corpseAnimation, color;
    animation-duration: 2s, 1s;
    animation-delay: 1s, 0;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

@keyframes color {
  from {
    background-color: white;
  }
  to {
    background-color: red;
  }
}

@keyframes corpseAnimation {
  0% {
    top: -500px;
  }
  13% {
    top: 13%;
  }
  23% {
    top: 50%;
  }
  37% {
    top: 28%;
  }
  50% {
    top: 50%;
  }
  62% {
    top: 38%;
  }
  72% {
    top: 50%;
  }
  80% {
    top: 44%;
  }
  87%,
  100% {
    top: 50%;
  }
}
